.m-a{
    box-sizing: border-box;
        background: black;
        padding: 10px;
    }
    
.b1 {
        background: black;
        border-color: aqua;
        color: aqua;
        font-size: 12pt;
        margin-top: 50px;
}
p{
    color: bisque;
}
img{
    height: 250px;
    width: 280px;
}